<!doctype html>
<html>
<head>
	<meta name="description" content="Secondary Schools' United Nations Symposium, November 6th - 9th. Organised by McGill international relations organisation (IRSAM)." />
	<meta name="og:image" content="{{ STATIC_URL }}img/logoWhiteLeaves.png" />

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nav.css" />
	{% if debug %}
	<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/mcmun.less" />
	<script src="{{ STATIC_URL }}js/less.min.js"></script>
	{% else %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mcmun.css" />
	{% endif %}
<!--	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
-->	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.cycle.all.js"></script>
	<script src="{{ STATIC_URL }}js/mcmun.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://getbootstrap.com/dist/js/bootstrap.js"></script>

	<title>SSUNS 2014 :: {{ page.long_name }}</title>
	<!-- make sure facebook has the right title and webpage description -->
	<!-- You can view this repository's source on Github:
	https://github.com/LucilleH/ssuns-2014 -->

<!--site stats tracking start -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47263441-2', 'ssuns.org');
  ga('send', 'pageview');

</script>
</head>
<body>
	<!-- nav bar start -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           			<span class="sr-only">Toggle navigation</span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
          		</button>
          		<a class="navbar-brand" href="/">SSUNS</a>
        	</div>
        	<div class="collapse navbar-collapse">
          		<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				{% for page in pages %}
				{% if page.short_name != "home" %}
		        	<li><a href="/{{ page.short_name }}">{{ page.long_name }}</a></li>     
				{% endif %}
				{% endfor %}
	  		</ul>
       	  		<ul class="navbar-nav nav pull-right" data-ng-hide="global.authenticated">
	    			{% if school.first_name %}
	    			<li><a href="/logout">logout</a></li>
	    			{% else %}
	    			<li><a href="/registration-form">Signup</a></li>
	    	 		<li class="divider-vertical"></li>
        			<li><a href="/login">login</a></li>
	    			{% endif %}
    			</ul>
		</div>
      	</div>
	</div>


	<div id="header">
		<div id="masthead">
			<img class="logoImg" src="{{ STATIC_URL }}img/logoWhiteLeaves.png" width="200px"/>
			<center>
				<div class="title">
					<span class="top">Secondary Schools' United Nations Symposium</span><br />
					<span class="middle">SSUNS 2014</span><br />
					<span class="bottom">November 6th - 9th, Montreal</span>
				</div>

			</center>
		</div>

	</div>
		{% block content %}{% endblock %}
	
	 <div class="social-media">
         	<a href="https://twitter.com/ssuns_official" target="_blank" class="twitter" title="Find us on Twitter">&nbsp;</a>
         	<a href="https://facebook.com/officialssuns" target="_blank" class="facebook" title="Find us on Facebook">&nbsp;</a>
         	<a href="mailto:info@ssuns.org" class="email" title="Email us at info@ssuns.org">&nbsp;</a>&nbsp;
         </div>

</body>
</html>
