	<!-- nav bar start -->
	<div class="ui transparent inverted fixed main menu">
		<div class="ui black icon toggle button">
       		<i class="reorder icon"></i>
    	</div>
		<div class="item" id="pagename_bar"> </div>
	</div>
	<!-- sidebar start -->
	<div class="ui black vertical demo sidebar menu">
		<a class="item" onclick="loadpage('/m/home')">
		    <i class="home icon"></i>
		    Home
		</a>
		<a class="item" onclick="loadpage('/m/itinerary')">
		    <i class="column layout icon"></i>
		    Conference itinerary
		</a>
		<a class="item" onclick="loadpage('/m/committees-list')">
		    <i class="legal icon"></i>
		    Committees
		</a>
		<div class="item">
	    	<b>Hotel</b>
		    <div class="menu">
		      	<a class="item" href="comgooglemaps://?q=H5A+1E4)">
			    	<i class="location arrow icon"></i>
			    Hotel direction
				</a>
				<a class="item" href="/m/floor-plan">
			    	<i class="sitemap icon"></i>
			    Floor plan
				</a>
				<a class="item" href="/m/hotel-contact">
			    	<i class="info letter icon"></i>
			    Contact
				</a>
		    </div>
	  	</div>
	  	<div class="item">
	    	<b>Social</b>
		    <div class="menu">
		      	<a class="item" onclick="loadpage('/m/twitter')">
		  			<i class="twitter icon"></i>
		    		Twitter feed
				</a>
				<a class="item" href="/m/facebook-page">
			    	<i class="facebook icon"></i>
			    	Facebook page
				</a>
				<a class="item" href="/m/youtube-page">
			    	<i class="youtube play icon"></i>
			    	Youtube page
				</a>
		    </div>
	  	</div>
		
		
		<div class="item">
		    <b>More</b>
		    <div class="menu">
		      	<a class="item" href="/m/sponsors">
			    	<i class="money icon"></i>
			    	sponsors
				</a>
				<a class="item" href="/m/photos">
			    	<i class="photo icon"></i>
			    	Photos
				</a>
				<a class="item" href="/m/charity">
			    	<i class="leaf icon"></i>
			    	Charity events
				</a>
				<a class="item" href="/m/food-deals">
			    	<i class="coffee icon"></i>
			    	Food deals
				</a>
		    </div>
		</div>
		<a class="item" href="/m/contact-us">
			<i class="info icon"></i>
			Contact us
		</a>
	</div>