{% extends "base.html" %}

{% block content %}
<div class="wrapper-no-video">
<div id="content">
<h1>Password reset successful</h1>

<p>We've emailed you instructions for setting your password to the email address you submitted. You should be receiving it shortly.</p>

<p>If you did not receive any email from us, it is possible that your email account is blocking us. please remove us from spamming list of your email account if you haven't done so.</p>

<p>If you encounter any difficulty, email <a href="mailto:it@ssuns.org">it@ssuns.org</a></p>

</div>
</div>
{% endblock %}