{% autoescape off %}
You're receiving this email because you requested a password reset for your user account at ssuns.org

Please go to the following page and choose a new password:
{% block reset_link %}
http://www.ssuns.org/{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Your username, in case you've forgotten: {{ user.username }}

If you encounter any technical difficulty, please email it@ssuns.org.

the SSUNS 2014 Secretariat

{% endautoescape %}
