{% extends "base.html" %}

{% block content %}
<div class="wrapper-no-video">
<div id="content">
<h1>Reset Password</h1>

<p>Please specify your email address to receive instructions for resetting it.</p>

{% if form.errors %}
<fieldset class="errors">
	<p>Please ensure that you enter the same email as when you initially registered</p>
</fieldset>
{% endif %}

<form method="post" action="">
{% csrf_token %}

   <p><label for="id_email">Email address:</label> 
   {{ form.email }} 
   <input type="submit" value="Reset password" /></p>
</form>
</div>
</div>
{% endblock %}
