<!--<div class="twitter">
	<a class="twitter-timeline" href="https://twitter.com/search?q=%23SSUNS" width="250px" height="300px" data-widget-id="321114393083518976">Tweets about "#SSUNS"</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
-->
{% if page.video_url %}
	<div class="video">
                <iframe src="{{ page.video_url }}" frameborder="0" allowfullscreen></iframe>
        </div>
	<div class="wrapper">
{% else %}
	<div class="wrapper-no-video">
{% endif %}
<div class="bs-docs-container">
{% if page.parentpage.subpages.all %}
	{% if page.short_name != "home-tmp" %}
        <div class="bs-sidebar hidden-print affix" role="complementary">
                <ul class="nav bs-sidenav">
        	{% for sp in page.parentpage.subpages.all %}
                	{% if sp.display %}
			<li><a href="#{{ sp.short_name }}">{{ sp.long_name }}</a></li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
	{% endif %}
</div>
<div id="content">
	{% for sp in page.parentpage.subpages.all %}
		{% if sp.display %}
		<section id="{{ sp.short_name }}">

		{% if sp.show_nav %}
        	        <h1>{{ sp.long_name }}</h1>
        	{% endif %}
			{% if sp.custom_template %}
                		{% with "pages/"|add:sp.short_name|add:".html" as template_file %}
                       			{% include template_file %}
                		{% endwith %}
        		{% else %}
				{% if sp.content %}
              				{% load markup %}
                       			{{ sp.content|markdown:"def_list" }}
                		{% else %}
                       			{% include "under-construction.html" %}
                		{% endif %}
			{% endif %}
		</section>
		{% endif %}
	{% endfor %}
{% endif %}
</div>
</div>
<script src="{{ STATIC_URL }}js/nav.js"></script>
