{% extends "base-mobile.html" %}

{% block content %}

<body class="index left pushed mobile" ontouchstart="">
<div id="committeeload"></div>
<div id="page_content">

	{% include "menu.html" %}

	<div id="pageload">
		<div class="wrapper-mobile">
		<div class="content-mobile">
			<div id="page_name"> Home </div>
			<center>

			<img class="logoImg" src="{{ STATIC_URL }}img/logonoborder.png" width="200px"/>
			<h2>
				SSUNS 2014<br /></h2>
			<h3>	
				Secondary Schools' United Nations Symposium<br />
				November 6th - 9th, Montreal</h3>
			</center>

			<img class="logoImg" src="{{ STATIC_URL }}img/pillarwords.jpg" width="100%"/>		
		</div>
		</div>
	</div>

</div>
</body>
<script>
function loadpage(link){
	$('.toggle.button').click();
	$('#pageload').load(link, function() {	
		$('#pagename_bar').html($('#page_name').html());
	});
}
function loadcommittee(link){
	$('#page_content').hide();
	window.scrollTo(0, 0);
	$('#committeeload').load(link).hide().fadeIn();
}
function closecommittee(link) {
	$('#committeeload').fadeOut();
	window.scrollTo(0, 0);
	$('#page_content').show();
}
</script>
{% endblock %}