{% extends "base-mobile.html" %}

{% block content %}
<body class="index left pushed" ontouchstart="">
	<!-- nav bar start -->
<div id="content-mobile">
	<div class="ui transparent inverted fixed main menu">
		<div class="ui black icon toggle button">
       		<i class="reorder icon"></i>
    	</div>
		<div class="item"> {{ page.long_name }}</div>
	</div>

	<div class="ui black vertical demo sidebar menu">
		<a class="item" onclick="loadpage(this.href)" href='/'>
		    <i class="home icon"></i>
		    Home
		</a>
		<a class="item" onclick="loadpage(this.href)" href="/m/itinerary">
		    <i class="column layout icon"></i>
		    Conference itinerary
		</a>
		<a class="item" onclick="loadpage(this.href)" href="/m/committees-list">
		    <i class="legal icon"></i>
		    Committees
		</a>
		<a class="item" href="comgooglemaps://?q=H5A+1E4)">
		    <i class="location arrow icon"></i>
		    Hotel direction
		</a>
		<a class="item" href="http://mobile.twitter.com/search?q=%23SSUNS">
		  	<i class="twitter icon"></i>
		    Twitter
		</a>
	  <div class="item">
	    <b>More</b>
	    <div class="menu">
	      <a class="item" onclick="loadpage('/m/secretariat')">Meet the secretariat</a>
	      <a class="item">Contact Us</a>
	    </div>
	  </div>
</div>


	{% with "subpage_mobile.html" as template_file %}
    	{% include template_file %}
    {% endwith %}
	
</div>
</body>
<script>
function loadpage(link){
	$('.toggle.button').click();
	$('#content-mobile').load(link);
}
</script>
{% endblock %}
