*.pyc
tmp
mcmun/invoice
mcmun/addinvoice
mcmun/conf.py
mcmun/static/admin/*
mcmun/static/img/dais/*
mcmun/static/semantic/*
mcmun/static/files/*
scholarship
*.json
mydatabase
.*
!/.gitignore
*.swp
uploads
*~
