{% load markup %}
	<h3>Description</h3>
	{{ committee.description|markdown:"footnotes,def_list,tables" }}

	<br />
	<h3>Dais</h3>
	{% for dais in committee.committeedais_set.all %}
	<div class="card">
		<center><img src="http://ssuns.org{{ STATIC_URL }}img/dais/{{ committee.slug }}/{{ dais.pic_name }}.jpg" /></center>
		<div class="item item-text-wrap"><center><b>{{ dais.name }}</b> - {{ dais.title }}</center> </div>
		
	</div>
	{% endfor %}
	{% if bg_uploaded %}
		<h2>Background Guide</h2>
		{% for bg in bgset %}
			<a href="http://ssuns.org{{ STATIC_URL }}files/bg/{{ bg.bg_link }}.pdf" target="_blank">Download {{ bg.bg_name }}</a><br />
		{% endfor %}
	{% endif %}

	</div>
</div>
