{% extends "base.html" %}

{% load markup %}

{% block content %}

{% if committee.video_url %}
        <div class="video">
                <iframe width="700" height="430" src="{{ committee.video_url }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="wrapper">
{% else %}
        <div class="wrapper-no-video">
{% endif %}
<div id="content">

<a href="/committees#committees-list">Go back</a>

{% if show_manage_link %}
    <p class="right-float">
        <a href="{% url 'committee_manage' committee.slug %}">
            {% if user.is_authenticated %}
                Manage this committee &raquo;
            {% else %}
                Login to manage this committee &raquo;
            {% endif %}
        </a>
    </p>
{% endif %}

<p />

<h1>{{ committee.name }}</h1>

{% if is_dais %}
<div class="center-align">
	<big><a href="{% url list_papers committee.slug %}">View position papers</a></big>
</div>
{% endif %}

{{ committee.description|markdown:"footnotes,def_list,tables" }}

<br />
<h1>Dais</h1>
<div id="dais">
<ul>
{% for dais in committee.committeedais_set.all %}
	<li>
		<div>
			<img src="{{ STATIC_URL }}img/dais/{{ committee.slug }}/{{ dais.pic_name }}.jpg" /><p />
			<p><b>{{ dais.name }}</b><br />
			{{ dais.title }} </p>
		</div>
	</li>
{% endfor %}
</ul>
</div>
{% comment %}
{% if bg_uploaded %}
	<h2>Background Guide</h2>
	{% for bg in bgset %}
		<a href="{{ STATIC_URL }}files/bg/{{ bg.bg_link }}" target="_blank">Download {{ bg.bg_name }}</a><br />
	{% endfor %}
{% endif %}
{% endcomment %}

</div>
</div>

{% endblock %}
