<table>
	<tr>
		<th colspan="2">Crisis Directors</th>
		<th>Chair</th>
		<th>Vice-Chair</th>
	</tr>
	<tr>
		<td>Jacob Hardy</td>
		<td>Stephanie Austin</td>
		<td>Christianne Aikins</td>
		<td>Irene Ferro Colmenares</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}jacob-hardy.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}stephanie-austin.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}christianne-aikins.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}irene-ferro.jpg" /></td>
	</tr>
</table>
