<table>
	<tr>
		<th>Crisis Director</th>
		<th colspan="2">Assistant Crisis Directors</th>
	</tr>
	<tr>
		<td>Tom Freeman</td>
		<td>Etienne Cayer</td>
		<td>Celine Raymond</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}tom-freeman.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}etienne-cayer.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}celine-raymond.jpg" /></td>
	</tr>
</table>

<h3>United States Government</h3>

<table>
	<tr>
		<th>Chair</th>
		<th>Vice-Chair</th>
	</tr>
	<tr>
		<td>Sahil Chaini</td>
		<td>Yashmi Mahat</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}sahil-chaini.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}yashmi-mahat.jpg" /></td>
	</tr>
</table>

<h3>La Cosa Nostra</h3>

<table>
	<tr>
		<th>Chair</th>
		<th>Vice-Chair</th>
	</tr>
	<tr>
		<td>Alyssa Wilbur</td>
		<td>Myra Khosa</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}alyssa-wilbur.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}myra-khosa.jpg" /></td>
	</tr>
</table>
