<table>
	<tr>
		<th>Chair</th>
		<th colspan="3">Vice-Chairs</th>
	</tr>
	<tr>
		<td><a href="mailto:nikita.pillai@mail.mcgill.ca">Nikita Pillai</a></td>
		<td>Sheena Li</td>
		<td>Nirali Tanna</td>
		<td>Sam Bradbrook</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}nikita-pillai.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}sheena-li.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}nirali-tanna.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}sam-bradbrook.jpg" /></td>
	</tr>
</table>
