<table>
	<tr>
		<th>Chair</th>
		<th colspan="4">Vice-Chairs</th>
	</tr>
	<tr>
		<td>Mike Tong</td>
		<td>Rajdev Brar</td>
		<td>Eve Rindje</td>
		<td>Ted Mateoc</td>
		<td>Daniel Carter</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}mike-tong.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}rajdev-brar.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}eve-rindje.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}ted-mateoc.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}daniel-carter.jpg" /></td>
	</tr>
</table>
