<table>
	<tr>
		<th>Chair</th>
		<th colspan="3">Vice-Chairs</th>
	</tr>
	<tr>
		<td><a href="mailto:serena.wang1993@gmail.com">Serena Wang</a></td>
		<td>Daniel Etcovitch</td>
		<td>Christina Yang</td>
		<td>Eileen Bui</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}serena-wang.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}daniel-etcovitch.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}christina-yang.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}eileen-bui.jpg" /></td>
	</tr>
</table>
