<table>
	<tr>
		<th>Chair</th>
		<th colspan="3">Vice-Chairs</th>
	</tr>
	<tr>
		<td><a href="mailto:jmajnemer@hotmail.com">Jacklyn Majnemer</a></td>
		<td>Anirudh Desai</td>
		<td>Gjis Leenders</td>
		<td>Geneva Nam</td>
	</tr>
	<tr>
		<td><!--<img src="{{ DAIS_PHOTO_URL }}jacklyn-majnemer.jpg" />--></td>
		<td><img src="{{ DAIS_PHOTO_URL }}anirudh-desai.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}gjis-leenders.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}geneva-nam.jpg" /></td>
	</tr>
</table>
