<table>
	<tr>
		<th>Crisis Director</th>
		<th colspan="2">Assistant Crisis Directors</th>
	</tr>
	<tr>
		<td>Martin Banach</td>
		<td>Jordan Sazant</td>
		<td>Alex Dieplam</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}martin-banach.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}jordan-sazant.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}alex-dieplam.jpg" /></td>
	</tr>
</table>

<h3>Richard Nixon &amp; Advisors</h3>

<table>
	<tr>
		<th>Chair</th>
		<th>Vice-Chair</th>
	</tr>
	<tr>
		<td>Keagan Tafler</td>
		<td>Emily Collins</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}keagan-tafler.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}emily-collins.jpg" /></td>
	</tr>
</table>

<h3>David Frost &amp; Researchers</h3>

<table>
	<tr>
		<th>Chair</th>
		<th>Vice-Chair</th>
	</tr>
	<tr>
		<td>Rida Malik</td>
		<td>Rawan Nimeh</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}rida-malik.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}rawan-nimeh.jpg" /></td>
	</tr>
</table>

