<table>
	<tr>
		<th>Chair</th>
		<th colspan="4">Vice-Chairs</th>
	</tr>
	<tr>
		<td>Sumaira Mazhar</td>
		<td>Nathaniel Freeman</td>
		<td>Safya Morshed</td>
		<td>Nayab Malik</td>
		<td>Veda Narasimhan</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}sumaira-mazhar.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}nathaniel-freeman.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}safya-morshed.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}nayab-malik.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}veda-narasimhan.jpg" /></td>
	</tr>
</table>
