<table>
	<tr>
		<th>Chair</th>
		<th colspan="4">Vice-Chairs</th>
	</tr>
	<tr>
		<td>Danial Mazhar Shafi</td>
		<td>Benazir Premji</td>
		<td>Nadia Fentiman</td>
		<td>Jessica Newfield</td>
		<td>Azam Mahmood</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}danial-mazhar-shafi.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}benazir-premji.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}nadia-fentiman.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}jessica-newfield.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}azam-mahmood.jpg" /></td>
	</tr>
</table>
