<table>
	<tr>
		<th>Chair</th>
		<th colspan="3">Vice-Chairs</th>
	</tr>
	<tr>
		<td><a href="mailto:mcmun2013@gmail.com">Yasmeen Gholmieh</a></td>
		<td>Kristina Rozintseva</td>
		<td>Travis Smith</td>
		<td>Nathan Liao</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}yasmeen-gholmieh.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}kristina-rozintseva.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}travis-smith.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}nathan-liao.jpg" /></td>
	</tr>
</table>
