<table>
	<tr>
		<th>Chair</th>
		<th colspan="4">Vice-Chairs</th>
	</tr>
	<tr>
		<td>Rachel Simmons</td>
		<td>Minho Lee</td>
		<td>Annie Liang</td>
		<td>Jiho Kim</td>
		<td>Arij Kazmi</td>
	</tr>
	<tr>
		<td><img src="{{ DAIS_PHOTO_URL }}rachel-simmons.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}minho-lee.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}annie-liang.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}jiho-kim.jpg" /></td>
		<td><img src="{{ DAIS_PHOTO_URL }}arij-kazmi.jpg" /></td>
	</tr>
</table>
