{% for category in categories %}
    <b>{{ category.name }}</b>
    <div class="ui selection divided list">
    {% for committee in category.committee_set.all %}
        <a class="item committee" href="{% url 'committees.views.view_mobile' committee.slug %}">
            <img class="ui avatar image" src="{{ STATIC_URL }}img/committees/{{ committee.slug }}.jpg" />
            <div class="content">{{ committee.name }}</div>
        </a>
    {% endfor %}
    </div>
{% endfor %}


<div class="ui very wide committee sidebar" id="committee_detail">
</div>