    
<center>
	<img class="logoImg" src="{{ STATIC_URL }}img/logonoborder.png" width="200px"/>
	<h2>SSUNS 2014</h2>
	<a href="mailto:info@ssuns.org"><h4>info@ssuns.org</h4></a>

	<h3>IRSAM Inc.</h3>
	3480 McTavish Street, Suite 410 <br />
	Montreal, QC H3A 1X9

</center>
<div class="ui list">
    <div class="item committee" href="mailto:sg@ssuns.org">
        <div class="content">
        	<div class="header">Secretariat General</div>
        	Serena Wang -- sg@ssuns.org</div>
    </div>
    <div class="item committee" href="mailto:schools@ssuns.org">
        <div class="content">
        	<div class="header">Chargée d’Affaires</div>
        	Hilary Chu -- schools@ssuns.org</div>
    </div>
    <div class="item committee" href="mailto:committees@ssuns.org">
        <div class="content">
        	<div class="header">Committees</div> 
        	Jonathan Schmidt -- committees@ssuns.org</div>
    </div>
    <div class="item committee" href="mailto:it@ssuns.org">
        <div class="content">
        	<div class="header">Information Technology</div> 
        	Lucille Hua -- it@ssuns.org</div>
    </div>
</div>