<div id="carousel">
	<div class="slideshow" style="position:relative">
		{% if page.titlePic %}
			<img src="{{ STATIC_URL }}img/pagePic/{{ page.short_name }}.jpg" style="position:relative" />
			<img src="{{ STATIC_URL }}img/pagePic/{{ page.short_name }}1.jpg" style="display:none;position:relative"/>
			<img src="{{ STATIC_URL }}img/pagePic/{{ page.short_name }}2.jpg" style="display:none;position:relative"/>
		{% else %}
			<img src="{{ STATIC_URL }}img/rsz_front1.jpg" style="position:relative" />
                        <img src="{{ STATIC_URL }}img/rsz_front2.jpg" style="display:none;position:relative"/>
                        <img src="{{ STATIC_URL }}img/rsz_front3.jpg" style="display:none;position:relative"/>
		{% endif %}
	</div>
</div>


<!--<div class="twitter">
	<a class="twitter-timeline" href="https://twitter.com/search?q=%23SSUNS" width="250px" height="300px" data-widget-id="321114393083518976">Tweets about "#SSUNS"</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
-->
{% if page.parentpage.subpages.all %}
	{% for subpage in page.parentpage.subpages.all %}
		<div class="sublink-block">
		<!--	<img src="/static/img/pagePic/.jpg" alt="{{ subpage.long_name }}" />
		--><a href="/{{ subpage.short_name }}">{{ subpage.long_name }}</a>
		</div>
	{% endfor %}
{% endif %}
</div>
