<div id="carousel">
	<div class="slideshow" style="position:relative">
		<img src="{{ STATIC_URL }}img/rsz_front1.jpg" style="position:relative" />
		<img src="{{ STATIC_URL }}img/rsz_front2.jpg" style="display:none;position:relative"/>
		<img src="{{ STATIC_URL }}img/rsz_front3.jpg" style="display:none;position:relative"/>

	</div>
</div>

<div class="link-block">
	<img src="/static/img/letter.jpg" alt="Registration" />
	<a href="/registration">Registration</a>
</div>

<div class="link-block">
	<img src="/static/img/pagePic/brochure_new.jpg" alt="Brochure" />
	<a href="/brochure">SSUNS brochure</a>
</div>

<div class="link-block">
	<img src="/static/img/charitywfg.jpg" alt="SSUNS Charity" />
	<a href="/charity">SSUNS Charity</a>
</div>
<div class="twitter">
	<a class="twitter-timeline" href="https://twitter.com/search?q=%23SSUNS" width="250px" height="300px" data-widget-id="321114393083518976">Tweets about "#SSUNS"</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div class="announcement">
	<div id="staffing-signup">
		<p>Interested in attending SSUNS? Sign up for our listserv <a href="/signups/">here</a>.</p>
		<p>Already registered and have an account? Login <a href="/login?next=/dashboard">here</a>.
		<p>For further details please contact our Charge d'Affairs at <a href="mailto:schools@ssuns.org">schools@ssuns.org.</a></p>	
	</div>
</div>
</div>
