<div id="carousel">
	<div class="slideshow" style="position:relative">
		<img src="{{ STATIC_URL }}img/pagePic/montreal.jpg" style="position:relative" />
		<img src="{{ STATIC_URL }}img/pagePic/montreal1.jpg" style="display:none;position:relative"/>
		<img src="{{ STATIC_URL }}img/pagePic/montreal2.jpg" style="display:none;position:relative"/>

	</div>
</div>

<h1>McGill Tours</h1>
<p>One of Canada’s best-known institutions for higher education and the country’s leading research-intensive university, McGill University was founded in 1821. Starting from a small college and evolving into what is currently a two-campus bustling university, with 11 faculties, McGill has over 300 programs of study and more than 32,000 students in total. It is also known for its internationally diverse student body.

The downtown campus is located in the heart of the vibrant city of Montréal while still being able to maintain a collegiate campus environment. The eclectic mix of buildings, enriched with both historical and modern architecture, adds to the charm of the campus.

On the Thursday of the conference, a tour will be given around the downtown campus, giving delegates the chance to learn about the programs offered and experience a few hours in the life of a McGill student! We definitely encourage you to participate in this tour if you are planning on pursuing studies in Québec or any other Canadian university, or even if you are simply interested in seeing and learning about this World renowned university.
</p>
