<div id="carousel">
	<div class="slideshow" style="position:relative">
		<img src="{{ STATIC_URL }}img/pagePic/montreal.jpg" style="position:relative" />
		<img src="{{ STATIC_URL }}img/pagePic/montreal1.jpg" style="display:none;position:relative"/>
		<img src="{{ STATIC_URL }}img/pagePic/montreal2.jpg" style="display:none;position:relative"/>

	</div>
</div>

<h1>Old Port</h1>
<p>Stretching over two kilometers along the St-Lawrence River, Vieux Port is one of Montréal’s most beautiful areas to visit. Enriched with history and enchanting architecture that date back to the 18th century; the port was historically a major trading and military post. Simply wandering around this storybook look a like place is breathtaking. SSUNS encourages every participant to visit the wonderful place on Friday night.
</p>
