<p><b>SSUNS 2013 registration fees consist of 2 components:</b><p/>
<ul>
<p>1)	"Delegation Fee" - Non-Refundable delegation fee </p>
<p>2)	"Total Delegate Fee" - Number of Delegates x Fee Per Delegate </p>
</ul>

<p>Please note that the non-refundable delegation fee is one single fee paid per delegation while the total fee per delegate is the cost per delegate applied to each delegate attending SSUNS 2014. The costs for SSUNS 2014 are listed in the table below:
</p>
<table>
	<tr>
		<td class="firstrow"></td>
		<td class="firstrow">Early Registration</td>
		<td class="firstrow">Regular Registration</td>
	</tr>
	<tr>
		<td>1) Delegation fee</td>
		<td>CAD $85.00<br />USA $85.00</td>
		<td>CAD $90.00<br />USA $90.00</td>
	</tr>
	<tr>
		<td>2) Fee per delegate</td>
		<td>CAD $85.00<br />USA $85.00</td>
		<td>CAD $90.00<br />USA $90.00</td>
	</tr>
</table>

<p>Therefore the total cost of registration is as follows:</p>
<ul><i>Registration Fee=Delegation Fee + (Number of Delegates × Fee per Delegate)</i></ul>
<p><b>Forms of Payment</b></p> 
<p><b><i>1) Cheques received by mail </i></b> – Certified and school cheques are acceptable and are to be made payable to IRSAM, Inc. Payments are to be addressed to:</p>
<br />
<center>
	<p>Secondary Schools’ United Nations Symposium<br />
	PO Box 55 Montreal Succursale B<br />
	Montreal, Quebec H3B 3J5</p>
</center>
<br />
<p><b><i>2) PayPal </i></b> Should you decide to pay via PayPal, you must check the ”Pay using PayPal” option on your registration form. Once your registration has been approved and you have received the confirmation email, you will receive a separate email from the PayPal website with your invoice and a link through which you are to complete your payment. <b><i>IMPORTANT:</i></b> Please note that there is a 3% merchant fee associated with PayPal that will NOT be covered by SSUNS. Delegations choosing to use PayPal are responsible for covering this cost.
</p>

<p><b>Timeline for Registration </b></p>
<table>
	<tr>
		<td class="firstrow">Event</td>
		<td class="firstrow">Date</td>
	</tr>
	<tr>
		<td>Online Registration Opens</td>
		<td>May 12th, 2014</td>
	</tr>
	<tr>
		<td>Priority Registration Closes<br />
			Regular Registration Opens</td>
		<td>July 31st, 2014</td>
	</tr>
	<tr>
		<td>Deadline for 100% Refund (Total Delegate Fees)</td>	
		<td>August 31st, 2014</td>
	</tr>
	<tr>
		<td>Deadline for 50% Refund (Total Delegate Fees)</td>
		<td>October 6th, 2014</td>
	</tr>
	<tr>
		<td>Deadline for Regular Registration</td>
		<td>October 6th, 2014</td>
	</tr>
	<tr>
		<td>Deadline for Hotel Registration</td>
		<td>October 8th, 2013</td>
	</tr>
	<tr>
		<td>SSUNS 2014</td>
		<td>November 6th – November 9th 2014</td>
	</tr>
</table>

<p><b>How to Register</b></p>
<ul>
<li>All registrations are to be made online through the SSUNS website at ssuns.org/registration-form. If you are unable to complete your registration online, please contact Hilary Chu at schools@ssuns.org, who will be able to assist you with your registration. 
</li>
<li>Please follow all the steps and fill in all the required fields on the registration form 
</li>
<li>Make sure to select your method of payment: <br />
	a) Cheques received by mail <br />
	b) PayPal </li>
<li>Please take note of the deadlines for payments listed in the above table following the Priority or Regular Registration timetable. </li>
</ul>

<p><b>Additional Notes:</b></p>
<ul>
	<li>Schools will only receive their country and committee assignments once they have paid both their Delegation Fee and Total Delegate Fee in full. Some exemptions may be given in certain circumstances if they are brought up to Hilary Chu at schools@ssuns.org before the deadline for payment</li>
	<li>Canadian schools are required to pay the entirety of their registration fee in Canadian dollars (CAD). </li>
	<li>US and international schools are required to pay the entirety of their registration fee in US dollars (USD)</li>
	<li>The delegation fee is non-refundable upon payment</li>
	<li>Delegations have until August 31st for a 100% refund on total delegate fees should the registration be cancelled before this date </li>
	<li>Delegations have until October 6th for a 50% refund on total delegate fees should the registration be cancelled before this date</li>
	<li>After October 6th, there will no longer be any refunds of any kind 
	<li>For any delegates requiring a visa, a recommendation letter will be provided only once the total registration fee (deposit + total delegate fee) has been paid in full
</ul>
