<p><b>SSUNS 2013 registration fees consist of 2 components:</b><p/>
<ul>
<p>1)	Non-Refundable delegation fee </p>
<p>2)	Total fee per delegate attending </p>
</ul>

<p>Please note that the non-refundable delegation fee is one single fee paid per delegation while the total fee per delegate is the cost per delegate applied to each delegate attending SSUNS 2013. The costs for SSUNS 2013 are listed in the table below:
</p>
<table>
	<tr>
		<td></td>
		<td>Early Registration</td>
		<td>Regular Registration</td>
	</tr>
	<tr>
		<td>1) Non-Refundable Delegation fee</td>
		<td>CAD $85.00<br />USA $85.00</td>
		<td>CAD $90.00<br />USA $90.00</td>
	</tr>
	<tr>
		<td>2) Fee per delegate</td>
		<td>CAD $85.00<br />USA $85.00</td>
		<td>CAD $90.00<br />USA $90.00</td>
	</tr>
</table>

<p>Therefore the total cost of registration is as follows:</p>
<ul><i>Registration Fee=Delegation Fee + (Number of Delegates × Fee per Delegate)</i></ul>
<p><b>Forms of Payment</b></p> 
<p><b><i>1) Cheques received by mail </i></b> – Certified and school cheques are acceptable and are to be made payable to IRSAM, Inc. Payments are to be addressed to:</p>
<br />
<center>
	<p>Secondary Schools’ United Nations Symposium<br />
	PO Box 55 Montreal Succursale B<br />
	Montreal, Quebec H3B 3J5</p>
</center>
<br />
<p><b><i>2) NEW! PayPal </i></b> – This year SSUNS will be accepting payments in the form of PayPal via the SSUNS website. The registration page to the PayPal link can be found under the “Chargé” tabs. IMPORTANT: Please note that there is a 3% merchant fee associated with PayPal that will NOT be covered by SSUNS. Delegations are responsible for covering this cost individually.</p>

<p><b>Timeline for Registration </b></p>
<table>
	<tr>
		<td>Event</td>
		<td>Date</td>
	</tr>
	<tr>
		<td>Online Registration Opens</td>
		<td>May 21st, 2013</td>
	</tr>
	<tr>
		<td>Priority Registration Closes<br />
			Regular Registration Opens</td>
		<td>July 30th, 2013</td>
	</tr>
	<tr>
		<td>Deadline for 100% Refund (Total Delegate Fees)</td>	
		<td>September 10th, 2013</td>
	</tr>
	<tr>
		<td>Deadline for 50% Refund (Total Delegate Fees)</td>
		<td>October 1st, 2013</td>
	</tr>
	<tr>
		<td>Deadline for Regular Registration</td>
		<td>October 8th, 2013</td>
	</tr>
	<tr>
		<td>Deadline for Hotel Registration</td>
		<td>October 8th, 2013</td>
	</tr>
	<tr>
		<td>SSUNS 2013</td>
		<td>November 7th – November 10th 2013</td>
	</tr>
</table>

<p><b>How to Register</b></p>
<p>Upon registration, delegations are required to submit:</p>
<ul>
1)	Completed registration form <br />
2)	Deposit (Non-refundable delegation fee)
</ul>

<p><b>Additional Notes:</b></p>
<ul>
	<li>Canadian schools are required to pay the entirety of their registration fee in Canadian dollars (CAD). To be eligible for Priority Registration Fees, all payments (via Cheque or PayPal) must be submitted before <b>July 30th</b>
	<li>US and international schools are required to pay the entirety of their registration fee in US dollars (USD) or Canadian dollars (CAD)
	<li>The delegation fee is non-refundable upon payment
	<li>Delegations have until September 10th for a 100% refund on total delegate fees 
	<li>Delegations have until October 1st for a 50% refund on total delegate fees
	<li>After October 8th, there will no longer be any refunds of any kind 
	<li>For any delegates requiring a visa, a recommendation letter will be provided only once the total registration fee (deposit + total delegate fee) has been paid in full
</ul>
