<h2>Thursday January 24th</h2>

<dl class="schedule">
	<dt>Registration</dt>
	<dd>12:00-17:00</dd>
	<dt>Opening Ceremonies</dt>
	<dd>18:00-20:00</dd>
	<dt>Committee Session I</dt>
	<dd>20:00-23:00</dd>
	<dt>Head Delegate Cocktail</dt>
	<dd>23:00-1:00</dd>
</dl>

<h2>Friday January 25th</h2>

<dl class="schedule">
	<dt>Committee Session II</dt>
	<dd>9:00-12:00 (GAs begin at 8:00)</dd>
	<dt>Head Delegate Meeting</dt>
	<dd>12:00-13:00</dd>
	<dt>Committee Session III</dt>
	<dd>14:00-17:00</dd>
	<dt>Committee Dinners</dt>
	<dd>17:00-19:00</dd>
	<dt>Committee Session IV</dt>
	<dd>19:00-21:00</dd>
	<dt>Pub Crawl</dt>
	<dd>21:30-1:00</dd>
</dl>

<h2>Saturday January 26th</h2>

<dl class="schedule">
	<dt>Head Delegate Meeting</dt>
	<dd>9:00-10:00</dd>
	<dt>Committee Session V</dt>
	<dd>10:00-13:30</dd>
	<dt>Conference Leadership Lunch</dt>
	<dd>13:30-15:30</dd>
	<dt>Committee Session VI</dt>
	<dd>15:30-19:30</dd>
	<dt>McParté</dt>
	<dd>22:00-3:00</dd>
</dl>

<h2>Sunday January 27th</h2>

<dl class="schedule">
	<dt>Committee Session VII</dt>
	<dd>10:00-11:30</dd>
	<dt>Hotel Checkout</dt>
	<dd>11:30-13:00</dd>
	<dt>Closing Ceremonies</dt>
	<dd>13:00-14:00</dd>
</dl>

<br clear="all" />
<br />

<p><em>Times are approximate and are subject to change without notice. Please be advised that committee sessions will have staggered start and end times.</em></p>
