<table id="staff-dates">
	<tr>
		<th>Date</th>
		<th>Event</th>
		<th>Coordinators</th>
		<th>Logistical staff</th>
		<th>Committees staff</th>
	</tr>
	<tr>
		<td>October-January</td>
		<td>Bi-weekly meetings</td>
		<td class="check"></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Thursday, January 10<sup>th</sup></td>
		<td>Committees introductory meeting</td>
		<td></td>
		<td></td>
		<td class="check"></td>
	</tr>
	<tr>
		<td>Saturday, January 12<sup>th</sup></td>
		<td>Logistical staff training</td>
		<td class="check"></td>
		<td class="check"></td>
		<td></td>
	</tr>
	<tr>
		<td>Saturday, January 12<sup>th</sup></td>
		<td>GAs and ECOSOCs training</td>
		<td></td>
		<td></td>
		<td class="check"><small>GAs/ECOSOCs</small></td>
	</tr>
	<tr>
		<td>Sunday, January 13<sup>th</sup></td>
		<td>SAs and Crises training</td>
		<td></td>
		<td></td>
		<td class="check"><small>SAs/Crises</small></td>
	</tr>
	<tr>
		<td>Tuesday, January 15<sup>th</sup></td>
		<td>McMUN in-house #1 for SAs</td>
		<td></td>
		<td></td>
		<td class="check"><small>SAs</small></td>
	</tr>
	<tr>
		<td>Thursday, January 17<sup>th</sup></td>
		<td>McMUN in-house #2 for GAs and ECOSOCs</td>
		<td></td>
		<td></td>
		<td class="check"><small>GAs/ECOSOCs</small></td>
	</tr>
	<tr>
		<td>Thursday, January 17<sup>th</sup></td>
		<td>Staff hype night</td>
		<td class="check"></td>
		<td class="invited">Invited</td>
		<td class="invited">Invited</td>
	</tr>
	<tr>
		<td>Sunday, January 20<sup>th</sup></td>
		<td>Secretariat meeting</td>
		<td class="check"></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Tuesday, January 22<sup>nd</sup></td>
		<td>McStuffing</td>
		<td class="check"></td>
		<td class="check"></td>
		<td class="check"></td>
	</tr>
	<tr>
		<td>Thursday, January 24<sup>th</sup> - Sunday, January 27<sup>th</sup></td>
		<td>McMUN 2013</td>
		<td class="check"></td>
		<td class="check"></td>
		<td class="check"></td>
	</tr>
	<tr>
		<td>Tuesday, January 22<sup>nd</sup></td>
		<td>Opening ceremonies, staff cocktail</td>
		<td class="check"></td>
		<td class="invited">Invited</td>
		<td class="invited">Invited</td>
	</tr>
	<tr>
		<td>Friday, January 25<sup>th</sup></td>
		<td>Pub Crawl</td>
		<td class="check"></td>
		<td class="invited">Invited</td>
		<td class="invited">Invited</td>
	</tr>
	<tr>
		<td>Saturday, January 26<sup>th</sup></td>
		<td>McParté</td>
		<td class="check"></td>
		<td class="invited">Invited</td>
		<td class="invited">Invited</td>
	</tr>
	<tr>
		<td>Sunday, January 27<sup>th</sup></td>
		<td>Closing ceremonies</td>
		<td class="check"></td>
		<td class="invited">Invited</td>
		<td class="invited">Invited</td>
	</tr>
</table>

<p><strong>Note:</strong> these dates are tentative and are subject to change.</p>
