<div class="right-float"><img src="/static/img/sheraton.gif" alt="Le Centre Sheraton logo" /></div>

<p>McMUN is proud to be held, once again, at <a href="http://www.sheratoncentremontreal.com"><strong>Le Centre Sheraton</strong></a>, conference center and hotel. 
We strongly encourage attendees to take advantage of the discounted rates the Sheraton offers to delegates, ensuring all affordable, comfortable and stress-free accommodation in Montreal during the conference.</p>

<p>Located in the heart of downtown, the Sheraton is perfectly situated, with access to Old Port, the Montreal Casino, the Bell Center, shopping, fantastic dining and an endless supply of Montreal’s infamous nightlife. Its location is marked with a star in the map below, with some nearby locations of interest indicated with markers:</p>

<br />

<iframe width="900" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps/ms?msa=0&amp;msid=201456329294433654839.0004c279318bc63ae6313&amp;ie=UTF8&amp;t=m&amp;ll=45.499038,-73.567929&amp;spn=0.012032,0.038581&amp;z=15&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.ca/maps/ms?msa=0&amp;msid=201456329294433654839.0004c279318bc63ae6313&amp;ie=UTF8&amp;t=m&amp;ll=45.499038,-73.567929&amp;spn=0.012032,0.038581&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">Le Centre Sheraton Montreal Hotel</a> in a larger map</small>

<h2>Booking</h2>

Make sure to book your hotel room before <strong>December 21, 2012</strong> in order to benefit from the following reduced rates:

<table>
	<thead>
		<tr>
			<th>Single/Double Occupancy</th>
			<th>Triple Occupancy</th>
			<th>Quadruple Occupancy</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>$190 ($226.10 with tax)</td>
			<td>$196 ($233.24 with tax)</td>
			<td>$202 ($240.38 with tax)</td>
		</tr>
	</tbody>
</table>

<ul>
	<li><em>Relevant Quebec taxes include 3.5% accommodation tax, 5% GST, 9.5% QST (all tax on tax).</em></li>
	<li><em>All above prices are quoted in Canadian dollars. Payment in USD can be arranged through Le Centre Sheraton.</em></li>
</ul>

<p><strong>You will receive a booking code and more specific information about booking rooms at the Sheraton after your registration has been confirmed by our Chargé D'Affaires.</p>

<br />

<p class="center-align"><big><a href="http://www.sheratoncentremontreal.com/">Visit the hotel website &raquo;</a></big></p>


<h2>Features</h2>

<p>Here are some of the many features that Le Centre Sheraton will offer you during your stay:</p>

<ul>
	<li>Comfortable and spacious guest rooms</li>
	<li>LCD TVs with in-room movies and video games</li>
	<li>Wireless high-speed internet access</li>
	<li>Complimentary access to the health club which includes: indoor pool, whirlpool, sauna, fitness center, outside terrace</li>
	<li>Stop for the airport shuttle</li>
	<li>Indoor parking at CDN $20/day</li>
	<li>Extremely close to lots of fast food and quality restaurants</li>
	<li>Elegant conference rooms</li>
</ul>

<p>We hope that you will enjoy your stay.</p>

<br />

<img src="{{ STATIC_URL }}img/sheratonbed.jpg" alt="Le Centre Sheraton Montreal Traditional Double Room" /><img src="{{ STATIC_URL }}img/sheratonroom.jpg" alt="Le Centre Sheraton Montreal Large Hspitality Suite" /><img src="{{ STATIC_URL }}img/sheratonpool.jpg" alt="Le Centre Sheraton Montreal Pool" /><img src="{{ STATIC_URL }}img/sheratonhotel.jpg" alt="Le Centre Sheraton Montreal" />
